body, html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1600px;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

//.content {
//  max-width: 1180px;
//}

//font-family: 'Ma Shan Zheng', cursive;
//font-family: 'Muli', sans-serif;
//font-family: 'Long Cang', cursive;
//font-family: 'Crimson Text', serif;
//font-family: 'Dancing Script', cursive;
//font-family: 'Indie Flower', cursive;