.fon {
  background: url("../img/keyboard-bg.jpg") no-repeat center center / cover;
  width: 100%;
  height: 100%;

  .grid {
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(37, 2vw);
    //grid-gap: 11px;

    &__item {
      font-family: 'Indie Flower', cursive;
      position: relative;
      width: 100%;
      height: 100%;
      color: #fff;
      //background-size: cover;
      //background-repeat: no-repeat;
      //background-position: 50% 50%;
    }

    &__item1 {
      background: url("../img/ja.jpg") no-repeat center center / cover;
      border: solid;
      grid-column-start: 10;
      grid-column-end: 13;
      grid-row-start: 5;
      grid-row-end: 15;
      opacity: 0.5;
    }

    &__item2 {
      font-size: 40px;
      text-align: center;
      text-transform: capitalize;
      grid-column-start: 10;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 4;
    }

    &__item3 {
      grid-column-start: 18;
      grid-column-end: 14;
      grid-row-start: 17;
      grid-row-end: 5;
    }

    &__item4 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 13;
      grid-row-end: 5;
    }

    &__item5 {
      grid-column-start: 8;
      grid-column-end: 15;
      grid-row-start: 23;
      grid-row-end: 16;
    }

    &__item6 {
      grid-column-start: 3;
      grid-column-end: 9;
      grid-row-start: 30;
      grid-row-end: 24;
    }

    &__item7 {
      grid-column-start: 11;
      grid-column-end: 20;
      grid-row-start: 30;
      grid-row-end: 24;
    }

    &__item8 {
      grid-column-start: 3;
      grid-column-end: 10;
      grid-row-start: 38;
      grid-row-end: 31;
    }

    .experience {
      &__titel {
        font-size: 22px;
        text-align: center;
        font-weight: bold;
      }

      &__list {
        &__text {
          font-size: 18px;
          letter-spacing: 1px;
        }
      }
    }
  }
}