.menu {
  position: fixed;
  top: 220px;
  left: 30px;
  width: 40px;
  z-index: 30;
  @media screen and (max-width: 768px) {
    left: 2vw;
    width: 30px;
  }

  .menuIcon {
    padding-bottom: 20px;
    fill: #646b6b;
    transition: all 0.5s;

    &__desc {
      position: relative;
      float: left;
      top: -32px;
      width: 80px;
      opacity: 0;
      font-size: 11px;
      transition: all 0.5s;

      &:hover {
        opacity: 1;
        font-weight: 600;
        transform: translate(50px, 0px);
      }
    }

    &:hover {
      fill: #075d6d;
      transform: scale(1.2, 1.2) translate(10px, 0px);
    }
  }

  .menuIcon:hover .menuIcon__desc {
    opacity: 1;
    font-weight: 600;
    transform: translate(50px, 0px);
    @media screen and (max-width: 768px) {
      transform: translate(36px, 5px);
    }
  }

  a {
    text-decoration: none;
    color: darkgreen;

    &:hover {
      color: #075d6d;
    }

    &:active {
      color: darkred;
    }
  }
}