.header {
  display: flex;
  flex-direction: column;
  background: url("../img/hero-bg.jpg") no-repeat center center/cover;
  height: 800px; }
  .header__titel {
    display: flex;
    justify-content: center;
    padding-top: 250px;
    font-family: 'Indie Flower', cursive;
    text-transform: capitalize;
    font-size: 70px;
    color: darkgreen; }
    @media screen and (max-width: 768px) {
      .header__titel {
        font-size: 40px; } }
  .header__batton {
    display: flex;
    justify-content: center;
    margin-top: 25px; }
    .header__batton__btn {
      color: #fff;
      border-radius: 50%;
      font-family: 'Ma Shan Zheng', cursive;
      font-size: 25px;
      letter-spacing: 4px;
      text-decoration: none;
      user-select: none;
      background: darkgreen;
      padding: 12px 45px 12px 45px;
      outline: none; }
      @media screen and (max-width: 768px) {
        .header__batton__btn {
          font-size: 14px;
          padding: 10px 35px 10px 35px; } }
      .header__batton__btn:hover {
        background: #076d29; }
      .header__batton__btn:active {
        background: #980f00; }
