.sliders {
  background: #252525; }
  .sliders .main {
    max-width: 1170px;
    margin: 0 auto; }
    .sliders .main .sl__slide {
      position: relative; }
    .sliders .main .sl__text {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      color: #fff;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      padding: 20px 0; }
      @media screen and (max-width: 480px) {
        .sliders .main .sl__text {
          padding: 0;
          font-size: 10px; } }
      .sliders .main .sl__text__zag {
        text-transform: capitalize;
        margin: 0;
        padding: 0 10px; }
      .sliders .main .sl__text__desc {
        margin: 0;
        padding: 0 10px; }

img {
  max-width: 100%;
  height: auto; }

.vidres {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }

.vidres iframe, .vidres embed, .vidres object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.mid {
  max-width: 1170px;
  margin: 0 auto; }

.col25, .col33, .col50 {
  float: left;
  margin: 0 4% 0 0; }

.col25 {
  width: 22%; }

.col33 {
  width: 30.6666666%; }

.col50 {
  width: 48%; }

.col25:last-child,
.col33:last-child,
.col50:last-child {
  margin: 0; }

.mid:before, .cf:before, .mid:after, .cf:after {
  content: " ";
  display: table; }

.mid:after, .cf:after {
  clear: both; }

@media screen and (max-width: 1200px) {
  .mid {
    margin: 0 40px; } }

@media screen and (max-width: 980px) {
  .col25 {
    width: 50%; }
  .col25:nth-child(even) {
    margin: 0; } }

@media screen and (max-width: 768px) {
  .mid {
    margin: 0 20px; }
  .col25, .col33, .col50 {
    width: 100%;
    margin: 0; } }
